.fish-banner {
  position: relative;
  width: 100%;
  background-image: url('https://api.ecrop.co/assets/precisiongrow/fish-monitoring.webp');
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  color: white;
  padding: 20px;
  height: 150vh;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #00000047; /* dark transparent overlay */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  padding-top:20%;
  width: 90%;
  margin: auto;
}
.content h1 {
  margin-top: 0;
  padding-top: 0;
  font-size: 75px;
}

.content h1 span {
  color: #3fb0d7;
  font-weight: 900;
  text-shadow: 6px 6px 10px black;
}

.content p {
    background: #84cbde;
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    opacity: .7;
    text-align: center;
    padding: 42px 20px;
}

/* Responsive */
@media (max-width: 768px) {

  .content h1 {
    font-size: 2.9rem;
  }
}

@media (max-width: 480px) {

  /* .content h1 {
    font-size: 1.5rem;
  } */
  .content p {
    font-size: 1rem;
  }
}
