.liststyleee {
  margin-bottom: 12px;
color: var(--list-title-color);
  font-size: 23px;
  border-bottom: 2px dashed #63992373;
  display: inline-block;
}
:root {
  --list-title-color: #02746a; /* apna desired color */
}
