

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* ------------------------------------------------- */
.top-marquee {
  background:#0f7178;
  white-space: nowrap;
  padding: 0; /* remove extra padding */
  /* position: sticky; */
  /* top: 0; */
  z-index: 1100; /* ensure it's above content */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  overflow: hidden;
  color:white
}



.scroll {
  display: inline-block;
  padding-left: 100%;
  font-size: 16px;
  color: white;
  animation: marquee 18s linear infinite;
  font-weight: 500;
}

@keyframes marquee {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.highlight {
  color: orange;
}

.number {
  color: #d2ff00;
}

@media (max-width: 768px) {
  .scroll {
    font-size: 13px;
  }
  .top-marquee {
    height: 35px;
  }
  .rakhi-img {
   top: 60%;
    height: 144px;}
   
}
