@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.wheelll {
  width: 100%;  /* Set width as per your design */
  animation: spin 15s linear infinite; /* Apply spinning effect */
  display: block;
  margin: 0 auto;
}
.sustain-row{
 background-color:#ecececbe;
  border-radius:90px 0px;
  padding:40px;
}
.innerSimg img {
  position: absolute;  /* Add any custom styling for the second image */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
  .innerSimg {
    width: 42%;
    height: 42%;
    background-repeat: no-repeat;
    position: absolute;
    top: 29%;
    left: 29%;
    background: white;
    border-radius: 50%;
  }
  .tine{
    position: relative;
    width:100%;
    margin: auto;
  }
.sustain-card {
  background-color: #ececec;
  padding: 10px;
  margin-right: 10px;
  border-radius: 30px 0;
  border: 2px solid greenyellow;
}
