/* 189 mb data of assets */
/* 98.7 mb data of assets */

.flypop-button {
    z-index: 999;
    position: fixed;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);

}
.flypop-button button {
    border: none;
    padding: 12px 10px;
    background-color: #b8d54f;
    border-radius: 6px 0px 0px 6px;
    letter-spacing: .2px;
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
}
.flypop-button button span {
    font-weight: normal;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;font-weight: 600;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    transform: rotate(180deg);
}

ul {
    /* list-style: none; */
    margin: 0;
    padding: 0;
}


/* slider-btn-cotrol */
.swiper-pagination{
    display: none;
}
.carousel-indicators{
    display: none!important;
}.loading {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #555;
}
.mausambtn{
    bottom: 90px;
    right: 0px;
    z-index: 1030;
background: linear-gradient(to right, #158047, #84cc16);
    color: white!important;
    font-weight: 600;
    border-radius:50px!important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.652);
}
/* .fixed-flag-gif {
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 120px; 
  height: auto;
  z-index: 9999;
  pointer-events: none;
} */
