
.features-container1 {
  background: url("https://api.ecrop.co/assets/precisiongrow/Farm Boundary2.webp") no-repeat center center/cover;
  border-radius: 40px 0px;
}
.card-height1 {
  min-height: 205px;
}
.card-height2 {
  min-height: 80px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.benefit-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.benefit-text strong {
   color: rgba(136,187,64);
} 

.txt{
  padding: 15px 20px;
  background-color:rgba(136,187,64);
  border-radius: 40px 0px 40px 0px;
  text-shadow: 0px 2px 1px black;
}
.datadelivery{
  background-color: rgba(53,127,130);
  border-radius: 40px 0px 40px 0px;
  color: white;
  text-align: center;
}

.boundaries{
  background-color:rgba(136, 187, 64);
  border-radius: 50px 0;
  padding:10px
}.image-stack-container {
  position: relative;
  height: 100%;
}

.image-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin-bottom: 122px;
}

.img-stacked {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border: 4px solid white;
}

.image-middle {
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
}

@media(max-width:768px){
  .card-height1 {
    min-height: 221px;
  }
  .image-middle {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
}

.image-wrapper {
    margin-bottom: 0px;
}
}