.feature-img {
  height: 250px; 
  height: 250px; 
  object-fit: cover; /* Ensure image doesn't get cut */
  background-color: #f8f9fa; /* Light background for image area */
}
.feature-img img{
  border-radius: 10px;

}
.kri-icon{
   color:#357f82;
}
.kri-bg{
    background-color: #357f82;
}
.krishi-outer h6{
    color:#97cf3d;
}
.feature-section {
  background-image: url('../../../assets/icons_About/bg8.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.bg-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.feature-section .z-2 {
  position: relative;
  z-index: 2;
}

.icon-img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.bg-img-fixed {
  background-image: url('../../../assets/icons_About/bg8.jpg'); /* update path */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.kri-bg1{
    background-color: #c1e2c064;
} 
.bg-cover-overlay {
  background: url('../../../assets/icons_About/cta.jpg') no-repeat center center;
  background-size: cover;
  min-height: 300px;
}
.green-txtt span{
    color: #97cf3d;
}
.bg-dark-low {
  background-color: rgba(0, 0, 0, 0.427); /* adjust opacity */
}