.custom-bullet {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.custom-bullet li {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

/* Stylish Section Headings */
.section-heading {
  font-size: 1.5rem;
  color: #495057;
  border-left: 5px solid #495057;
  padding-left: 10px;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
  text-transform: capitalize;
}

.sub-heading {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1.25rem;
  color: #333;
}
@media(max-width:600px){
    .section-heading {
    font-size: 1.2rem;
    }
}