.swiper_container {
    height: 100%;
    padding: 1rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fish-swiper-outer .swiper-slide {
    width: 30rem;  /* Adjusted width for better responsiveness */
    height: 40rem;
    position: relative;
 
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:2px solid rgba(6, 82, 123, 0.419);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    box-shadow: 3px 2px white;
}

/* Scale effect on hover */
.swiper-slide img:hover {
    transform: scale(1.05);
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 5;

}
.slide-content h2{
    color:white;
    font-size: 35px;
}
.slide-content p{
    font-size: 18px;
}

.swiper-button-prev, .swiper-button-next {
    color: #f8f9fa;
    font-size: 2rem;
    cursor: pointer;
    background: #2a73798a;
    border-radius: 50%;
    transition: background 0.3s ease;
    z-index: 10;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.swiper-button-prev {
    position: absolute;
    left: 1rem;
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
}

.swiper-button-next {
    position: absolute;
    right: 1rem;
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
}
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 22px;
} 
/* Hover effect on arrows */
.swiper-button-prev:hover, .swiper-button-next:hover {
    background: rgba(0, 0, 0, 0.8);
}
@media(max-width:600px){
    .slide-content {
        width: 48%;
    }
  
    .swiper_container {
        padding: 0rem 0;} 
        .swiper-button-prev:after, .swiper-button-next:after {
            font-size: 16px;
        }  
        .swiper-button-prev, .swiper-button-next {
            height: 30px;
            width: 30px;}
}
@media(max-width:425px){
    .swiper-slide img {
        width:100%;
        height: 100%;
        object-fit: cover;
    }
}
