/* Main carousel styling */
.carousels {
  position: relative;
  height: auto;
  background-color: #000;
}

.carousel-inner .carousel-item1 {
  position: relative;
   aspect-ratio: 1920 / 800;
  overflow: hidden;
}
.carousel-item1 img {
  object-fit: cover;
}


.carousel-inner .carousel-item1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%; /* Apply overlay to the right half */
  height: 100%;
  background: linear-gradient(to left, #2c3128e9, rgba(255, 0, 0, 0)); /* Red overlay */
  z-index: 1;
}

/* Carousel Image styling */
/* .carousel-inner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */

/* Carousel Caption styling */
.carousel-caption {
  position: absolute;
  top: 10%;
  left: 65%;
  right: 10%; /* Adjusted right to ensure proper spacing */
  text-align: left;
  z-index: 10;
}

.carousel-caption h3 {
  font-size: 4.5rem;
  font-weight: bold;
  color:green;
  text-shadow: -1px 2px 2px #153700;
}

.carousel-caption p {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fff;
}

/* Carousel controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999999;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background-color: #4dd0d5;
}

/* Button styling */
.carousel-item1 .btn {
  background: #23bfc5;
  color: white;
  padding: 0.75rem 1.5rem;
}

.carousel-item1 .btn:hover {
  background: #4dd0d5;
  color: white;
}

/* Mobile responsiveness */
@media (min-width: 700px) and (max-width: 1030px) {
  .carousel-caption {
    top: 6%;
    left: 54%;
  }
  
  .carousel-inner .carousel-item1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(41, 43, 39, 0.388), transparent),
                linear-gradient(to left, rgba(68, 75, 69, 0.2), rgba(33, 32, 32, 0.326) 40%, transparent);
    filter: blur(15px);
    z-index: 1;
  }

  .carousel-caption h3 {
    font-size: 37px;
  }
}
@media(max-width:600px){
  .carousel-caption h3 {
    font-size: 22px;
  }
  .carousel-caption {
    top: 0%;
    left: 19%;
  }
  .carousel-caption p {
    display: none;
  }
 .carousel-item1 .btn {
    padding:4px;
    font-size: 13px;
  }
  
}