.cropgrid-container .row{
  margin:auto;
  width:80%
}

.cropgrid-image{
  width: 90%;
}
.cropgrid-title {
  font-weight: 600;
  font-size: 1.9rem;
  margin-bottom: 1rem;
  color: #357f82; /* nice green accent */
}

.cropgrid-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
}
.coloredtxt1{
  background-color: #357f821c;
  padding: 40px 30px;
  border-radius: 40px 0;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .cropgrid-container .row{
  width: 100%;
}
  .cropgrid-title {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
  }

  .cropgrid-description {
    text-align: center;
  }

  .row.flex-row-reverse {
    flex-direction: column;
  }

}
