.drone-div .card1 {
    position: relative;
    min-height: 530px;
    background: #bacc00;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    z-index: 0;
}

.drone-div .card1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    z-index: 1;
}

.card1.skew::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transform: skew(2deg, 2deg);
    z-index: -1; /* Ensures the background is behind the content */
}
.card1.skew.glow:nth-child(1)::before {
    background: linear-gradient(315deg, #536b6b, #2b3e3e);
}

.drone-div .card1 .content {
    position: relative;
    padding: 5px 40px 25px 40px;
    transform: translateY(40px);
}

.drone-div .card1 .content h2 {
    position: absolute;
    top: -70px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255, 255, 255, .09);
    transition: 0.5s ease-in-out;
}

.drone-div .card1 .content h3 {
    margin: 0 0 25px;
    font-size: 26px;
    color: #c4cf6f;
    line-height: 30px;
}

.drone-div .card1 .content p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #fff;
    min-height: 290px;
    text-align: start;
}

/* Hover effect for moving h2 element */
.card1:hover .content h2 {
    top: -140px;
}
@media (min-width: 991px) and (max-width: 1025px){
    .drone-div .card1 .content h2 {
        top: 0px;
        font-size: 7em;
    }
    .card1:hover .content h2 {
        top: -40px;
    }
    .drone-div .card1 {
        min-height: 100%;}
        .drone-div .col-12{
            margin-bottom: 30px;
        }
}
@media(max-width: 600px){
    .drone-div .card1 .content h2 {
        top: 0px;
        font-size: 7em;
    }
    .card1:hover .content h2 {
        top: -40px;
    }
}