/* Smaller leaf positioned better */
.leaf-overlay {
  position: absolute;
  bottom: 10px;
  left: -40px;
  width: 200px; /* Adjust as needed */
  height: auto;
  z-index: 2;
  opacity: 0.9;
}

  .mission-layout .card{
    border: 3px solid #88bb40;
    border-radius: 30px 0px;
  }
  .mission-layout h4{
color:#357f82;
font-weight: bold;
  }
/* Responsive override for card alignment */
@media (max-width: 991px) {
  .mission-layout .card {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
  }

  .leaf-overlay {
    width: 70px;
    bottom: 5px;
    left: 5px;
  }
}
@media (max-width: 768px) {
  .btnofesg .start-50
 {
    left: 83% !important;
}

}
@media (max-width: 600px) {
  .btnofesg .start-50
 {
    left: 85% !important;
}
.btnofesg .bottom-0 {
    bottom: -16px!important;
}
 .esgbtn {
    font-size: 10px;
    padding: 4px 10px!important;}
}
