.product-image-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.product-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.4s ease-in-out;
}

.main-img {
  opacity: 1;
  z-index: 1;
}

.hover-img {
  opacity: 0;
  z-index: 2;
}

.product-card:hover .main-img {
  opacity: 0;
}

.product-card:hover .hover-img {
  opacity: 1;
}
.custom-modal-backdrop {
  background: linear-gradient(135deg, #28a745, #0f529a); /* You can customize the gradient */
  min-height: 100vh;
  padding: 2rem;
}
