.bgcolorrr{
  /* background-color: #02746a; */
background: linear-gradient(180deg, #02746a, #bcf1f5);
}

.purpose-left-icon {
  width: 58px;
  min-width: 100px;
  height: auto;
  object-fit: contain;
  margin-top: 4px;
}

.info-card{
  border:5px solid #02746bdd;
  /* color: white; */
  padding: 10px;
}
.info-card h3{
  color: #357f82;
  font-weight: bold;
}

/* Left background blocks */
.left-box {
background-color: #02746a;
}
.row.align-items-start {
  align-items: stretch !important;
}
.right-image-wrapper {
  height: 100%;
}

.right-image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Overlapping Logo */
.overlap-logo {
  position: absolute;
  left: 100%;
  top: 29%; /* Two boxes ke beech perfect center */
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.overlap-logo img {
  width: 65px;
  height: 65px;
  object-fit: contain;
}
.testono1 {
  background: linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ),
    url("../../assets/agri-bg.webp") center/cover no-repeat;
  padding: 60px 20px;
  background-attachment: fixed;
}
.testono1 .testimonial-title{
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .overlap-logo {
    width: 80px;
    height: 80px;
  }

  .overlap-logo img {
    width: 45px;
    height: 45px;
  }
}


/* FIXED LEAF TIMELINE START*/

.fixed-leaf-timeline {
  position: fixed;
  bottom: 25px;
  left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  z-index: 100;
  cursor: pointer;
}

/* LEAF SHAPE DESIGN */
.leaf-shape {
  width: 18px;
  height: 32px;
  background: linear-gradient(135deg, #94d82d, #2b9348);
  clip-path: polygon(50% 0%, 100% 40%, 70% 100%, 30% 100%, 0% 40%);
  opacity: 0.4;
  transition: all 0.3s ease;
}
.leaf-shape:hover {
  opacity: 0.8;
  transform: scale(1.15);
}
.leaf-shape.active {
  opacity: 1;
  transform: scale(1.3);
  box-shadow: 0 0 20px rgba(43, 147, 72, 0.6);
}

/* YEAR BADGE */
.year-badge {
  position: absolute;
  left: 35px;
  background: rgba(43, 147, 72, 0.9);
  color: white;
  padding: 5px 12px;
  border-radius: 18px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.leaf-item:hover .year-badge,
.active-badge {
  opacity: 1;
  transform: translateX(0);
}

/* TIMELINE SECTION */
.timeline-section {
  min-height: 100vh;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .fixed-leaf-timeline {
    left: 20px;
    gap: 12px;
  }
  .overlap-logo {
    top: 41%;}
  .year-badge {
    left: 28px;
    font-size: 0.75rem;
  }
}
@media (max-width: 600px) {
 .overlap-logo {
    left: 85%;
    top: 42%;}
}
