.leaf-navigation {
  position: fixed;
  top: 60%;
  left: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  z-index: 1000;
    opacity: 0;
  transition: opacity 0.6s ease;
}
.leaf-navigation.show {
  opacity: 1;
}
.leaf {
  position: relative;
  cursor: pointer;
}

.brand-logo {
  width: 60px;
  height: auto;
  /* opacity: 0.6; */
  transition: all 0.3s ease;
}

.leaf:hover .brand-logo,
.leaf.active .brand-logo {
  /* opacity: 1; */
  transform: scale(1.80);
  /* border-color: #2e7d32; */
  /* box-shadow: 0 0 10px rgba(46, 125, 50, 0.6); */
}

/* Tooltip Label */
.tooltip-label {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  background: #2e7d32;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 13px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.leaf:hover .tooltip-label,
.leaf.active .tooltip-label {
  opacity: 1;
  visibility: visible;
  transform: translate(10px, -50%);
}
