.inner-mission-info h1 {
  color: #2b3e3e;
  font-weight: 600;
  margin-bottom:35px;
}
.inner-mission-info{
  padding-top:10%;
}
.inner-mission-info span{
color:#7e9128;
font-size: 53px;
}
.inner-mission-info p{
    font-size: 23px;
    color: #4d4c4c;
}
.inner-mission{
    position: relative;
}
.miss-vis ul{
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-left: -45%;
  margin-top: 70px;
  position: relative;}

.in-left-img img{
  width: 100%;transform: rotate(7deg);
}
.inner-mission .in-left-img{
    position: absolute;
    left: -130px;
  bottom: 0;
  max-width: 230px;
 
}
@keyframes rotateAnimation {
    0% {
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(2deg);
    }
    100% {
      transform: rotate(-2deg);
    }
  }
@media(max-width:768px){
  .miss-vis ul {
    margin-left: -0%;
    margin-top: 119px;
}
.inner-mission-info {
  padding-top: 0%;
}
}
@media(max-width:600px){
  .in-left-img img{
    display: none;
  }
  .inner-mission-info {
    padding: 0% 6% 13%;
}
.inner-mission-info span {
  font-size: 39px;
}
.miss-vis ul {display: block;margin-left: 0px;}
}