.info-section {
  padding: 30px 20px;
}

.info-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto; 
    position: relative;
}



.info-block {
  position: relative;
  background-color: #fff;
  padding: 60px 20px 20px 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-block:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 10px rgba(195, 18, 18, 0.12);
}
.info-img-wrap {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid transparent;
  background: white;
  background-clip: padding-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  /* Gradient border */
  background-image: linear-gradient(white, white), conic-gradient(#65d6b8, #c8facc, #65d6b8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.info-img {
  object-fit: contain;
  padding: 12px;
}


.info-text {
  font-size: 18px;
  color: #503d3d;
  line-height: 1.6;
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .info-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
   .info-wrapper {
    grid-template-columns: repeat(2, 2fr);
    margin: auto;
  }
   .info-section {
  padding: 60px 20px 20px!important;
}
}
@media (max-width: 600px) {
  .info-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
 
.card-item.active {
    transform: none!important;
}
}