.card-spotlight {
    position: relative;
    border-radius:0px 40px 0px 40px;
    border: 2px solid rgba(136,187,64);
    background-color: #302f2f;
    padding: 12px;
  
    h5{
        color:rgba(136,187,64);
    }
  }
  
  .card-spotlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }
  
  .card-spotlight:hover::before,
  .card-spotlight:focus-within::before {
    opacity: 0.6;
  }
  