/* ==============================
   FAQ Section
============================== */
.faq-section {
    background-color: #f9f9f9; /* plain background */
}

/* FAQ Title */
.faq-title {
  font-size: 28px;
  font-weight: 700;
  color: #1b4332;
  margin-bottom: 30px;
  text-align: center;
}

/* FAQ Question */
.faq-question {
  width: 100%;
  background: none;
  border: none;
  border-left: 4px solid #8bc34a;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 600;
  color: #1b4332;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.faq-question:hover {
  background-color: #f1f8f4;
  color: #8bc34a;
}

.faq-question.active {
  background-color: #e8f5e9;
}



/* FAQ Answer */
.faq-answer {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  padding-left: 16px;
}

.faq-answer.open {
  max-height: 200px;
  opacity: 1;
  margin-top: 8px;
}

.faq-answer p {
  color: #444;
  line-height: 1.6;
  margin: 0;
}

.faq-answer span {
  font-weight: 600;
  margin-right: 4px;
}
