/* Modal */
.Modal {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 800px;
    height: auto; 
    max-height: 80vh; 
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1202;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0006;
    z-index: 999;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}
.close-popup:hover {
  color: red;
}


/* Main Container */
.main_container {
    /* font-family: 'Montserrat', Arial, sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

/* Heading */
.main_container h1 {
    color: #123838;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    margin: 0;
}

.main_container h1::after {
    content: "";
    height: 3px;
    width: 15%;
    display: block;
    background: #153700;
    margin: auto;
    margin-top: 10px;
}

.main_container h4, .main_container h5 {
    color: #6e8320;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-align: center;
    margin-top: 25px;
}

/* Form Container */
#container {
    margin: 0 auto;
    background-color: #ffffffd9;
    padding: 0;
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
}

#container form {
    padding: 25px 50px;
    max-height: 75vh;
    overflow-y: auto;
}

/* Input Fields, Textareas, Selects */
.main_container input[type='text'],
.main_container input[type='email'],
.main_container select,
.main_container textarea {
    width: 100%;
    /* background: none; */
    border: none;
    border-bottom: 2px solid #153700;
    color: #153700;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1.5em;
    padding: 10px 0;
    text-transform: capitalize;
}

.main_container input:focus,
.main_container textarea:focus,
.main_container select:focus {
    outline: none;
    border-color: #06aa84;
}

.main_container textarea {
    line-height: 1.5;
    resize: none;
    min-height: 90px;
    padding: 15px !important;
}

/* Feedback Section */
.feedback-container {
    width: 100%;
    min-height: 180px;
    position: relative;
    margin: 0 auto 7% auto;
}

.rate {
    position: absolute;
    width: 100%;
    /* top: 10%; */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.emoji-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.rating-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.fa-star {
    color: rgb(201, 204, 189);
    cursor: pointer;
    font-size: 30px;
}

.fa-star.active {
    color: gold;
}

/* Recommendation Switch */
.friend {
    width: 100%;
    text-align: center;
    margin: 2% auto 0;
}

.switch {
    display: flex;
    justify-content: center;
    position: relative;
    width: 160px;
    margin: 0 auto;
    gap: 20px;
}

.switch input[type="radio"] {
    display: none;
}

.label {
    cursor: pointer;
    border: 2px solid #153700;
    color: #153700;
    padding: 5px 15px;
    border-radius: 4px;
    transition: all 0.3s;
    text-transform: uppercase;
}

.switch input[type="radio"]#yes:checked + .label[for="yes"],
.switch input[type="radio"]#no:checked + .label[for="no"] {
    background-color: #153700;
    color: white;
}

/* Submit Button */
.submit {
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.submit input {
    background-color: #153700;
    color: #fff;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all 0.3s;
}

.submit input:hover {
    background-color: #6f850b;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    #container form {
        padding: 20px;
        max-height: 70vh;
    }
    .emoji-container {
        top: 40%;
    }
    .rating-container {
        top: 75%;
    }
    .main_container input,
    .main_container textarea,
    .main_container select {
        font-size: 0.9em;
    }
    .friend {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    #container form {
        padding: 15px;
    }
    .main_container h1 {
        font-size: 26px;
    }
    .emoji-container {
        top: 47%;
    }
    .rating-container {
        top: 70%;
    }
}
