.choosecard.card{
    border-color:transparent;
    border-radius: 0;
    padding:30px 0;
}
.choosecard img{
    height:60px;
    width:auto;
    padding-bottom: 10px;
}
.card-body{
    padding: 0;
}
.card-body h5{
    color:#f5ffbd;font-size: 24px;margin: 30px 0px;
}