.card-group {
  display: flex;
  margin-top: 20px;
  border-radius: 0px 30px 0px 30px ;
  flex-wrap: wrap;
}
/* h1{
  color: rgba(53,127,130);
  font-weight: bold;
} */
.card1 {
  border-radius: 0px 30px 0px 30px;
  background: linear-gradient(135deg, rgba(53,127,130), transparent 30%), hwb(0 94% 4% / 0.314);
}
.card-img-tops2 {
  /* width: 150px;
  height: 150px; */
  object-fit: cover;
  border-radius: 0px 30px 0px 30px;
  display: flex;
 
}
.btm-row{
  border-bottom:2px solid gray;
}

.card-body {
  padding: 15px;
}

.card1 .card-title {
  font-size: 1.25rem;
  font-weight: bold;
 justify-content: center;
 color: rgba(53,127,130);
}

.crds .card-text {
  font-size: 1rem;
  color: #555;
}

.crds .card-text small {
  font-size: 0.875rem;
  color: #888;
}

.card1, .card-img-tops2{

  height: auto;
}

@media (max-width: 768px) {
  .card-group {
    flex-direction: column;
 
    gap: 15px;
  }
  .crds, .row{
    border-bottom: none!important;
  }
  
}
@media (max-width: 600px) {
  .card1 {
    border-radius: 0px 30px 0px 30px;
    background: linear-gradient(90deg, rgba(-75, 94, 81), transparent 2%), hwb(1 100% 8% / -6.686);
}
}

