.product-type-item .thumb {
    box-shadow: 0px 15px 10px -10px rgb(109 117 143 / 33%);
    padding: 10px;
    border-radius: 50%;
 height: 250px;
   width: 250px;
   margin: auto auto 30px;
   position: relative;
   }
   .product-type-item .thumb:hover img {
    transform: scale(1.2);padding: 12px;
  }
    .product-type-item .thumb img{
        width:100%;
        border-radius: 50%;transition: transform 0.3s ease-in-out;
    }
    .product-type-item .info {
        padding: 0px 30px 60px 30px;
        text-align: center;
    }
    .product-type-item .info p{
        color:#4d4c4c;hyphens: inherit;font-size: 18px;
    }
    .thumb span {
        font-size: 60px;
  font-weight: 900;
  color: #6e8320c7;
  position: absolute;
  top: 80%;
  left: 39%;}
        .product-type-item .info h4 {
            font-size: 24px;
            margin: 50px 0px 20px 0px;
            font-weight: 600;
            color: #033233;}