
.policys h6{
    font-weight: bold;
}
.term-condition{
    background-color: rgb(229, 235, 202);
    padding: 30px; 
    border-radius: 40px 0px 40px 0px ;
}
.bb span{
font-weight:bold;
}
/* .image-container.policy {
    position: relative;
     height: 500px; 
     width: 100%;
   } */
   .policy img {
       height:100%;
    width: 100%;
   }
   .text-overlay{
    position:absolute;
    top: 60%;
    left:15%;
    transform: translate(-11%, -40%);
    color: white;
    font-size: 70px;
    font-weight: 700;
   }
   .privacy-policy strong{
    color:rgba(53,127,130);
   }
 
   