.organic-img{
    border-radius: 0 40%;
} 
.bottom-left-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-30%, 30%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17726c;
}
.bottom-left-icon .icon{
font-size: 30px;
}
.cropdatabg{
    border-radius: 40px 0;
    border:2px solid #02746a
}