
.testimonial-title {
  font-size: 2.6rem;
  color: #569e0a;
  z-index: 2;
  text-shadow: 1px 2px 2px black;
}

/* Blue Circle with Quote Icon */
.quote-circle {
  width: 70px;
  height: 70px;
  background-color: #17726c;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  top: -10px;
  left: -7px;
  z-index: 1;
  box-shadow: 0 4px 12px rgba(49, 196, 141, 0.3);
  transform: rotate(-8deg);
  animation: floatIcon 4s ease-in-out infinite;
}

/* Floating + Rotating Animation */
@keyframes floatIcon {
  0% {
    transform: rotate(-8deg) translateY(0);
  }
  50% {
    transform: rotate(5deg) translateY(-6px);
  }
  100% {
    transform: rotate(-8deg) translateY(0);
  }
}

.testimonial-box {
  border: 1px solid #9ec657;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  background-color: #fff;
  height: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.testimonial-icon {
  font-size: 50px;
  color: #17726c;
}

/* Custom Next Arrow */
.swiper-button-next-custom {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #17726c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.swiper-button-next-custom:hover {
  background-color: #25aea5;
  transform: translateX(3px);
}

@media (max-width: 768px) {
  .testimonial-title {
    font-size: 1.8rem;
  }

  .swiper-button-next-custom {
    width: 40px;
    height: 40px;
  }
}
