.contact-wrapper {
  background: linear-gradient(135deg,#28a745,#007bff);
  padding: 2rem 0rem 0rem;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('../../assets/icons_About/ecrop_3_0_1.webp');
  background-repeat: no-repeat;
  background-position: right;
}


.cont-frm {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.cont-frm h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.cont-frm .field,
.cont-frm .message {
  margin-bottom: 1rem;
}

.cont-frm input,
.cont-frm textarea {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.dbl-field {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.dbl-field .field {
  flex: 1;
}

.phone-field {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.requestOtp {
  background: linear-gradient(135deg,#28a745,#007bff);
  color: white;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}

.submit-btn {
  padding: 0.75rem 2rem;
  background: linear-gradient(135deg,#28a745,#007bff);
  color: white;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}


.blueetxt {
  color: #286aa2;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.contact-info-box .icon {
  margin-right: 8px;
  color: #286aa2;
}

.contact-info-box .office-block {
  margin-bottom: 1.2rem;
}

.contact-info-box p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.map-container {
  margin-top: 2rem;
  overflow: hidden;
  border-radius: 1rem;
}


.sent-message {
  color: green;
  margin-top: 1rem;
}

.error-message {
  color: red;
  margin-top: 1rem;
}
@media(max-width:768px){
  .contact-wrapper {
    background-image: none;
  }
}