

  .rrrrs{
    border:3px solid #357f82!important;
padding: 10px!important;
text-align: center;
  }
  .rrrrs p{
    font-weight: bolder!important;
padding: 0px!important;
  }

  .card-div-icon{
text-align: center;
  }
  .cardicon{
    width:100%;
    height: 240px;
    border-radius: 0px 40px 0px 40px;
    border: 4px solid #357f82;
    padding: 10px;
  }

  .vdo-outer-green {
    border: 3px solid #357f82;
    padding: 40px 40px 80px;
  }
  
  .video-style {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
  
  .card-container {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0 auto;
  }


@media(max-width:1055px){
  .cardicon {
    height:313px;
  }
  .card-container {
    bottom: -74px;}
}
@media(max-width:768px){
  .card-container {
    position: static;}
}
@media(max-width:600px){
  .cardicon {
    height:auto;
  }
 
    .vdo-outer-green {
      padding: 10px 10px 30px;
  }

}
