.banner-outer {
  position: relative;
  height: 350px; /* Adjust as needed */
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Overlay with some opacity */
}

.banner-text {
  color: white; /* Text color for better contrast */
  padding: 20px;
}
